<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Welcome to this project</h1>
    <h4>Building the backend here</h4>
        <p> As of now you can upload photos and videos in mp4 format up to 250MB big by using the <em>/upload</em> endpoint</p>
        <p> You can also view all the uploaded files by using the <em>/gallery</em> endpoint</p>
        <p>You can view the video gallery by navigating to <em>/videos</em></p>
        <p>You can view the photo gallery by navigating to <em> /photos</em></p>
        <p>&nbsp;</p>
        <p>You can navigate back to the index page by using the <em>/</em> endpoint</p>
</body>
</html>