<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>This is the videos gallery view</h1>
    <p>Using it for test purposes at the moment</p>
    <div class="main-container">
        <% files.forEach(file => { %>
            <div class="file-container">
                <% if (file.endsWith('.mp4')) { %>
                    <video width="320" height="240" controls>
                        <source src="./uploads/<%= file %>" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                <% } %>
            </div>
        <% }); %>
    </div>
</body>
</html>